<%- include("partials/header"); -%>


<div class="flex-container">
  <div class="profileAvatar">
    <li><%= user.username.charAt(0).toUpperCase()%></li>
  </div>
  <div>
    <% if (user) { %>
      <p>Username: <%= user.username %></p>
      <p>Email: <%= user.email %></p>
      
    
      <%} %>
  </div>
</div>


<%- include("partials/footer"); -%>



<!-- 
<h1><%= user.username.charAt(0).toUpperCase()%></h1>
</div>

<% if (user) { %>
  <p>Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>
  

  <%} %> -->